.padSC {
    padding-left: 25px;
    padding-top: 10px;
}

.flexerSC {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
}

.favcolorSC div {
    color: white;
    display: flex;
    text-wrap: wrap;
    flex-wrap: nowrap;
    text-align: start;
    font-size: 7.5px;
}

.imageSC {
    border-style: inset;
    border-color: darkgrey;
    float: left;
    height: 175px;
    width: 125px;
    margin-right: 20px;
}

.cardSC {
    width: 350px;
    height: 225px;
    background-color: black;
    border-style: outset;
    border-color: darkgray;
    border-width: 3px;
}

.removebuttonSC {
    font-size: 12px;
    margin-left: 30px;
}

.adder {
    text-wrap: nowrap;
}

.buttons div{
    display: flex;
}